* {
    font-family: "Work Sans", sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600px;
    cursor: pointer;
    border: 0;


}
.text-light{
    color: #727272;
}
header{
      background-color: rgba(255, 144, 14, 0.10);
      padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}
nav > ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    text-align: center;
    


}
.banner-description{
    color: #727272;
    text-align: center;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}
/* main style */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams-comtainer{
    display: flex;
    align-items: center;

}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;

}
.teams-content{
    padding: 0px 70px 0px 70px;

}
.teams-title{
    font-size: 2.8rem;


}
.quick{
    color: #727272;
    font-weight: 500;

}
.features{
    color: #FF900E;
    font-weight: 700;

}
/* responsive */
/* mobile device */
@media screen and(max-width: 576px ){
    header{
        padding: 20px;
    }
    nav,.teams-comtainer{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-left: 20px ;
        padding-right: 20px;
    }

}
/* tablet or meadium device */
@media screen and (min-width: 576px ) and (max-width: 960px ){
    header{
        padding: 45px;
    }
    nav{
        flex-direction: column;
    }
}
    
